body {
}

.container {
  background-color: #fff;
  width: 860px;
  -moz-box-shadow: 0px 1px 5px 3px #bbb;
  -webkit-box-shadow: 0px 1px 5px 3px #bbb;
  box-shadow: 0px 1px 5px 3px #bbb;
}

#header-wrapper {
  background-color: #000;
  border-bottom: 1px solid #333;
  padding: 0;
}

header {
  background-color: #000;
  padding: 15px 0px 0px 0px;
  width: 860px;
  margin: 0 auto;
}

header h1 {
  /*width: 860px;*/
  font-style: italic;
  font-size: 6em;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
  float: left;
}

header nav.secondary {
  float: right;
}

header h1 a, header h1 a:hover, header h1 a:visited {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
}

nav {
  /* #A5BB2A */
  background-color: #000;
  padding: 0 2px;
  position: relative;
  line-height: 1;
  border-bottom: 1px solid #333;
}

nav ul {
  width: 860px;
  padding: 0 2px;
  padding: 8px 2px;
  margin: 0 auto;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0.2em 0;
  margin: 0;
}

nav ul li a {
  font-size: 2em;
  padding: 0 20px;
  padding: 7px 25px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:visited {
}

ul#secondary {
  float: right;
  list-style-type: none;
}

footer nav {
  background-color: #fff;
  border-bottom: none;
  border-top: none;
  padding: 10px 0px;
}

footer nav ul li a {
  font-size: 1.2em;
  color: #000;
}

section {
  padding: 15px;
}

.button {
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
}

.signup_button {
  margin: 0 auto;
  display: block;
  width: 120px;
  text-align: center;
  background-color: #A5BB2A;
  padding: 10px 20px;
  color: #fff;
  font-size: 2.5em;
}


section#main {
  /*
   * float: left;
   * width: 600px;
   */
}

aside {
  /*
   * float: right;
   *width: 200px
   */
}

div.field, div.actions {
  margin-bottom: 10px;
}


.field_with_errors {
  margin-top: 0px;
  display: table;
}

.field_with_errors input {
  border: 1px solid #F33;
}

.field_with_errors label {
}

#error_explanation {
  width: 400px;
  border: 2px solid #F33;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  background-color: #F33;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}


/*** T A S K  T A B L E ***/

table.tasks {
  border-collapse: collapse;
}

table.tasks td {
  border-bottom: 1px solid #A0AA6E;
}

table.tasks thead th {
  background-color: #A5BB2A;
  padding: 0px 8px;
  margin: 0px;
}

table.tasks thead th h2 {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-style: italic;
}

table.tasks tbody tr td {
  background-color: #F1EBC9;
  padding: 8px 24px 0px 8px;
}

table.tasks tbody tr:nth-child(even) td {
  background-color: #FAF7E2;
  padding: 8px 24px 0px 8px;
}

td.task h3 a {
  color: #000;
} 

td.task h3 {
  font-weight: bold;
  float: left;
} 

p.task-ops {
  float: right;
}

td.task h3,
p.task-ops {
  margin-bottom: 8px;
}


/*** T A S K  D A T A ***/

.task-meta {
  margin: 8px 0px;
}

.task-meta .task-assigned-by,
.task-meta .task-priority,
.task-meta .task-on,
.task-meta .task-due { 
  margin: 2px 0px;
}

.task-meta .task-assigned-by strong,
.task-meta .task-priority strong,
.task-meta .task-on strong,
.task-meta .task-due strong { 
  float: left;
  width: 7em;
}

.task-meta .task-assigned-by { 
}

/*** T A S K  F O R M ***/

form#new_task div.field textarea {
  height: 6em;
}

/*** T E S T ***/

nav ul li a {
  background-color: #A5BB2A;
}

nav.secondary {
  background-color: #000;
  margin-top: 20px;
  border: none;
}

nav.secondary ul {
  width: auto;
} 

nav.secondary ul li a {
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 4px 8px;
  margin: 0 5px;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
}

nav.tertiary {
  margin: 0 auto;
  padding: 0 2px;
  background-color: #000;
  border-bottom: none;
  color: #fff;
}

nav.tertiary ul {
  width: 860px;
  background-color: #A5BB2A;
  padding: 5px 0px;
}

nav.tertiary ul li a {
  padding: 0 20px;
  font-size: 1.3em;
}
