<section id="main">
<h1>My Tasks</h1>
<%# unless @user.assigned_tasks.empty? %>
<% unless @tasks.empty? %>
  <table class="tasks" summary="User tasks">
    <thead>
      <th colspan="2"><h2><%= @user.name %></h2></th>
    </thead>
    <tbody>
      <% @user.assigned_tasks.find(:all, :conditions => "status = 2").each do |task| %>
        <%= render :partial => 'tasks/completed_task', :locals => { :task => task } %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="tasks" summary="User tasks">
    <thead>
      <th colspan="2"><h2><%= @user.name %></h2></th>
    </thead>
    <tbody>
      <tr>
        <td><%= @empty_notice %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<h1>Everybody Else</h1>
<% unless @all_users.empty? %>
  <% @all_users.each do |o| %>
    <% if o.id != @user.id %>
      <% unless o.assigned_tasks.find(:all, :conditions => "status = 2").empty? %>
        <table class="tasks" summary="User tasks">
          <thead>
            <th colspan="2"><h2><%= o.name %></h2></th>
          </thead>
          <tbody>
            <% o.assigned_tasks.find(:all, :conditions => "status = 2").each do |task| %>
              <%= render :partial => 'tasks/completed_task', :locals => { :task => task } %>
            <% end %>
            <%# render o.assigned_tasks.find(:all, :conditions => "status = 2") %>
          </tbody>
        </table>
      <% else %>
        <table class="tasks" summary="User tasks">
          <thead>
            <th><h2><%= o.name %></h2></th>
          </thead>
          <tbody>
            <tr>
              <td><%= @empty_notice %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
<% end %>

</section>
