<section id="main">

<h1>All Jaguars</h1>
<% unless @users.empty? %>
  <% @users.each do |u| %>
    <% unless u.assigned_tasks.empty? %>
      <table class="tasks" summary="User tasks">
        <thead>
          <th colspan="2"><h2><%= u.name %></h2></th>
        </thead>
        <tbody>
          <%= render u.assigned_tasks %>
        </tbody>
      </table>
    <% else %>
      <table class="tasks" summary="User tasks">
        <thead>
          <th colspan="2"><h2><%= u.name %></h2></th>
        </thead>
        <tbody>
          <tr>
            <td><%= @empty_notice %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>

</section>
